body, html {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 15px;
  margin-right: 15px;
}

nav ul li a {
  color: rgb(235, 230, 230);
  text-decoration: none;
}

.nav-left {
  display: flex;
  margin-left: 10px;
  transition: left 0.5s ease;
}

.nav-right {
  display: flex;
}

.transparent-button a {
  color: rgb(235, 230, 230);
  text-decoration: none;
}

.nav ul li:last-child {
  margin-right: 0;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(215, 214, 214);
  color: rgb(215, 214, 214);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #00000000;
  padding: 20px;
  box-sizing: border-box;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 100px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.social-icons {
  margin-top: 25px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.has-tooltip {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.social-icons svg {
  width: 24px;
  fill: #fff;
}

.intro-container {
  width: 60%;
  margin: 50px auto;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  background-color: rgb(240, 240, 240);
  color: rgb(37, 37, 37);
  padding: 50px 0;
  font-size: 16px;
  line-height: 1.5;
}

.container h1 {
  text-align: center;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25% - 15px);
  margin: 20px 0;
  max-width: 300px;
  margin: 0;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card-image {
  height: 200px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 20px;
  text-align: justify;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.container2 {
  background-color: #1a1a1a;
  color: rgb(240, 240, 240);
  padding: 50px 0;
}

.container2 h1 {
  text-align: center;
}

.category {
  margin-top: 50px;
  margin-bottom: 30px;
}

.category h2 {
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
}

.category h2 svg {
  margin-right: 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
}

.skill-item {
  border-radius: 5px;
  height: 70px;
  display: flex;
  align-items: stretch;
  transition: transform 0.2s;
  color: #1a1a1a;
  overflow: hidden;
}

.skill-item:hover {
  transform: translateY(-5px);
}

.skill-item img {
  width: 30%;
  height: 100%;
  background-color: #525151;
}

.skill-item span {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2f2f2f;
  color: rgb(240, 240, 240);
}

.timeline {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.timeline::before {
  background: #1b1b1b;
  background-image: linear-gradient(180deg, #fff 0, #1b1b1b 30px, #1b1b1b calc(100% - 30px), #fff);
  border-radius: 4px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
  left: 0;
}

.timeline-element {
  position: relative;
  margin: 2em 0;
}

.timeline-element::after {
  clear: both;
  content: "";
  display: table;
}

.timeline-element-icon {
  border-radius: 50%;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12);
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: 2;
}

.timeline-element-icon svg {
  fill: currentColor;
  display: block;
  width: 24px;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  position: relative;
  top: 50%;
}

.timeline-element-content {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12);
  background: #fff;
  border-radius: .25em;
  margin-left: 60px;
  padding: 1em;
  position: relative;
}

.timeline-element-content::after {
  clear: both;
  content: "";
  display: table;
}

.timeline-element-content h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin: 0;
}

.timeline-element-content h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .0075em;
  margin-bottom: 5px;
}

.timeline-element-content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 1em 0 0;
  text-align: justify;
}

.timeline-element-date {
  color: #333;
  font-size: .8125rem;
  font-weight: 500;
  display: inline-block;
  opacity: .7;
  padding: .8em 0;
}

.certifications-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}

.certification {
  text-align: center;
  padding: 20px;
  flex: 1 1 300px;
  max-width: 300px;
}

.certification:last-child {
  border-right: none;
}

.flag {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.certification h2 {
  margin: 10px 0;
}

.certification p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-block {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  opacity: 0;
  transform: translateY(150px);
}

.experience-block.visible {
  opacity: 1;
  transform: translateY(0);
}

.experience-block:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.experience-content {
  flex: 1;
  padding: 20px;
  text-align: justify;
}

.experience-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.dates {
  font-style: italic;
  color: #888;
  margin-bottom: 10px;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(30% - 10px);
  margin: 20px 0;
  max-width: 400px;
  margin: 0; 
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  opacity: 0;
  transform: translateY(150px);
  display: flex;
  flex-direction: column;
}

.project-card.visible {
  opacity: 1;
  transform: translateY(0);
}


.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.github-div {
  margin: 5% auto;
}

.card-content {
  flex: 1;
}

.project-card .card-image {
  height: 200px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}
.tech-tag {
  background-color: #e0e0ff;
  color: #5050ff;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.8em;
}
.github-link {
  display: inline-flex;
  align-items: center;
  background-color: #24292e;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}
.github-link:hover {
  background-color: #2f363d;
}

.github-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.footer-container {
  background-color: #1a1a1a;
  color: rgb(240, 240, 240);
  padding: 50px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav-left {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background-color: #1a1a1a;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    z-index: -2;
    padding-left: 20px;
  }

  .nav-left.active {
    display: flex;
  }

  nav ul {
    padding-top: 80px;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }

  .burger-menu {
    display: flex;
  }

  .nav-right {
    margin-left: auto;
  }

  .transparent-button {
    margin-right: 20px;
  }

  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .timeline-element-icon {
    left: 50%;
    margin-left: -20px;
  }

  .timeline-element-content {
    margin-left: 0;
    width: 100%;
  }

  .timeline-element-date {
    position: static;
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .timeline-element-icon {
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
  }

  .timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }

  .timeline-element:nth-child(even) .timeline-element-content {
    float: right;
  }

  .timeline-element-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1rem;
  }

  .timeline-element:nth-child(even) .timeline-element-date {
    left: auto;
    right: 122%;
    text-align: right;
  }

  .experience-block {
    flex-direction: row;
  }

  .experience-image {
    width: 200px;
    height: auto;
  }

  .dates {
    position: absolute;
    top: 10px;
    right: 220px;
  }
}

@media (max-width: 1200px) {
  .card {
    width: calc(33.333% - 13.33px); /* 3 cartes par ligne */
  }
}

@media (max-width: 900px) {
  .card {
    width: calc(50% - 10px); /* 2 cartes par ligne */
  }
}

@media (max-width: 700px) {
  .card-container {
    justify-content: center; /* Centre la carte unique */
  }

  .card {
    width: 100%; /* Une carte par ligne */
    max-width: 400px; /* Maintient la largeur maximale */
  }

  .intro-container {
    width: 80%;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .project-card {
    width: calc(50% - 10px); /* 2 cartes par ligne */
  }
}

@media (max-width: 600px) {
  .card-container {
    justify-content: center; /* Centre la carte unique */
  }
  .project-card {
    width: 100%; /* Une carte par ligne */
    max-width: 400px; /* Maintient la largeur maximale */
  }
}