body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
}

header {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

main {
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: rgb(215, 214, 214);
  text-decoration: none;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #00000000;
}

.profile-picture {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 100px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
}



.social-icons {
  margin-top: 25px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.has-tooltip {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.social-icons svg {
  width: 24px;
  fill: #fff;
}

.intro-container {
  max-width: 1000px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
}

.intro-container p {
  color: #fff;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(215, 214, 214);
  color: rgb(215, 214, 214);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border-radius: 10px;
}

.transparent-button:hover {
  color: #777777;
  border: 2px solid #777777;
}

.container {
  background-color: rgb(240, 240, 240);
  color: rgb(37, 37, 37);
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center ;
  font-size: 16px;
  line-height: 1.5;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  margin:auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  min-height: 450px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card-image {
  height: 200px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}
.card-content {
  padding: 20px;
}

.card-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;

}

.container2 {
  background-color: #1a1a1a;
  color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.category {
  margin-top: 50px;
  margin-bottom: 30px;
}
.category h2 {
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
}
.category h2 svg {
  margin-right: 10px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 10px;
}
.skill-item {
  border-radius: 5px;
  height: 70px;
  /* width: 200px; */
  display: flex;
  align-items: stretch;
  transition: transform 0.2s;
  color: #1a1a1a;
  overflow: hidden;
}
.skill-item:hover {
  transform: translateY(-5px);
}
.skill-item img {
  width: 30%;
  height: 100%;
  /* object-fit: cover; */
  background-color: #525151;
}

.skill-item span {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2f2f2f;
  color: rgb(240, 240, 240);
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.timeline {
  margin: 0;
  max-width: 1170px;
  /* padding: 2em 0; */
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 1170px) {
  .timeline {
      margin:3em auto;
      width: 100%
  }
}

.timeline::before {
  background: #1b1b1b;
  background-image: linear-gradient(180deg, #fff 0, #1b1b1b 30px, #1b1b1b calc(100% - 30px), #fff);
  border-radius: 4px;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 4px;
  left: 18px
}

@media only screen and (min-width: 1170px) {
  .timeline::before {
      left:50%;
      margin-left: -2px
  }
}

.timeline-element {
  position: relative;
  margin: 2em 0
}

@media only screen and (min-width: 1170px) {
  .timeline-element {
      margin:4em 0
  }
}

.timeline-element::after {
  clear: both;
  content: "";
  display: table
}

.timeline-element-icon {
  border-radius: 50%;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12);
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px
}

@media only screen and (min-width: 1170px) {
  .timeline-element-icon {
      width:60px;
      height: 60px;
      left: 50%;
      margin-left: -30px
  }
}

.timeline-element-icon svg {
  fill: currentColor;
  display: block;
  width: 24px;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  position: relative;
  top: 50%
}

.timeline-element-content {
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12);
  background: #fff;
  border-radius: .25em;
  margin-left: 60px;
  padding: 1em;
  position: relative
}

.timeline-element-content::after {
  clear: both;
  content: "";
  display: table
}

@media only screen and (min-width: 1170px) {
  .timeline-element-content {
      margin-left:0;
      padding: 1.5em;
      width: 40%;
  }
}

.timeline-element-content h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin: 0
}

.timeline-element-content h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .0075em;
  margin: 0
}

.timeline-element-content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 1em 0 0
}

@media only screen and (min-width: 1170px) {
  .timeline-element:nth-child(2n) .timeline-element-content {
      float:right;
      margin-left: 5%;
  }
}

.timeline-element-date {
  color: #333;
  font-size: .8125rem;
  font-weight: 500;
  display: inline-block;
  opacity: .7;
  padding: .8em 0
}

@media only screen and (min-width: 1170px) {
  .timeline-element-date {
      font-size:1rem;
      left: 124%;
      position: absolute;
      top: 6px;
      width: 100%
  }
}

@media only screen and (min-width: 1170px) {
  .timeline-element:nth-child(2n) .timeline-element-date {
      left:auto;
      right: 124%;
      text-align: right
  }
}

.certifications-container {
  display: flex;
  align-items: center ;
  justify-content: space-around;
  width: 100%;
  /* background-color: #fff; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  padding: 20px;
}

.certification {
  text-align: center;
  padding: 20px;
}

.certification:last-child {
  border-right: none;
}

.flag {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.certification h2 {
  margin: 10px 0;
}

.certification p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

.experience-container {
  display: flex;
  flex-direction: column;
}
.experience-block {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.experience-block:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.experience-content {
  flex: 1;
  padding: 20px;
}

.experience-image {
  width: 200px;
  object-fit: cover;
}

h2 {
  margin-top: 0;
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

.dates {
  position: absolute;
  top: 10px;
  right: 220px; /* Ajusté pour laisser de l'espace pour l'image */
  font-style: italic;
  color: #888;
}

@media (max-width: 1000px) {
  .experience-block {
      flex-direction: column;
  }
  .experience-image {
      width: 100%;
      height: 200px;
      order: 1;
  }
  .experience-content {
      order: 0;
  }
  .dates {
      position: static;
      margin-bottom: 10px;
  }
}