body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #1a1a1a;
  color: white;
}

header {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

main {
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: rgb(215, 214, 214);
  text-decoration: none;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #00000000;
}

.profile-picture {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: 10px;
}



.social-icons {
  margin-top: 25px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.has-tooltip {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.social-icons svg {
  width: 24px;
  fill: #fff;
}

.intro-container {
  max-width: 1000px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.5;
}

.transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(215, 214, 214);
  color: rgb(215, 214, 214);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border-radius: 10px;
}

.transparent-button:hover {
  color: #777777;
  border: 2px solid #777777;
}

.container {
  background-color: rgb(240, 240, 240);
  color: rgb(37, 37, 37);
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center ;
  font-size: 16px;
  line-height: 1.5;
}

.container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  margin:auto;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card-image {
  height: 200px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}
.card-content {
  padding: 20px;
}

.card-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;

}

.container2 {
  background-color: #1a1a1a;
  color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.category {
  margin-top: 50px;
  margin-bottom: 30px;
}
.category h2 {
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
}
.category h2 svg {
  margin-right: 10px;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 10px;
}
.skill-item {
  border-radius: 5px;
  height: 70px;
  /* width: 200px; */
  display: flex;
  align-items: stretch;
  transition: transform 0.2s;
  color: #1a1a1a;
  overflow: hidden;
}
.skill-item:hover {
  transform: translateY(-5px);
}
.skill-item img {
  width: 30%;
  height: 100%;
  /* object-fit: cover; */
  background-color: #525151;
}

.skill-item span {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2f2f2f;
  color: rgb(240, 240, 240);
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}